# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Virtual Environment
# =====================
venv/
.venv/

# =====================
# Environment variables
# =====================
.env

# =====================
# Chroma Vector DB
# =====================
chroma_langchain_db/

# =====================
# Streamlit
# =====================
.streamlit/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
